/vendor/
/node_modules/
node_modules
/etc/build/*
!/etc/build/.gitignore

composer.lock

/tests/Application/yarn.lock

/.phpunit.result.cache
/behat.yml
/phpspec.yml
/phpunit.xml

.idea/
.phpunit.cache

